{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"]
    }
  ],
  "rules": {
    "require-jsdoc": "off",
    "no-var": 2,
    "prefer-const": 2,
    "linebreak-style": 0,
    "no-mixed-requires": 2,
    "semi": "off",
    "quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error"]
  }
}
