{
    "extends": [
        "eslint:recommended"
    ],
    "plugins": [
        "react-redux"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node":true,
        "browser": true,
        "es6": true
    },
}